<table>
    <thead>{{this.Title}}</thead>
    <tbody>
        <tr>
            <th *ngFor="let day of DaysOfWeek">
                {{day}}
            </th>
        </tr>
        <tr *ngFor="let week of [].constructor(Weeks), let i = index">
            <td *ngFor="let day of [].constructor(7), let j = index">
                <ng-template [ngIf]="((i === 0 && j < StartDay) || i*7+j-StartDay >= TotalDays)" [ngIfElse]="properDay">
                    
                </ng-template>
                <ng-template #properDay>
                    <app-day [DayNumber]="i*7+j-StartDay+1" (click)="select(i*7+j-StartDay+1)" [IsSelected]="Selected == i*7+j-StartDay+1"></app-day>
                </ng-template>
            </td>
        
        </tr>
    </tbody>
</table>