<div>
  <button *ngIf="!LoadComponent" (click)="loadDefinePreserveComponent();">Define Preserve</button>
  <button *ngIf="LoadComponent" (click)="loadDefinePreserveComponent();">Hide</button>
  <div *ngIf="LoadComponent">
    <app-define-preserve [list]="PreserveList"></app-define-preserve>
  </div>
</div>
<div *ngFor="let preserve of PreserveList" [appHighlight]="Color">
  <hr>
  <p>
    {{preserve.Name}}<br>
    Data Produkcji: {{preserve.DateOfProduction | date: 'mediumDate'}}<br>
    Data ważności: {{preserve.ExpirationDate | date: 'mediumDate'}}<br>
    {{preserve.Description}}<br>
  </p>
  <hr>
</div>
