<div>
  <button *ngIf="!loadComponent" (click)="loadDefinePreserveComponent();">Define Preserve</button>
  <button *ngIf="loadComponent" (click)="loadDefinePreserveComponent();">Hide</button>
  <div *ngIf="loadComponent">
    <app-define-preserve [list]="preserveList"></app-define-preserve>
  </div>
</div>
<div>
  <p *ngFor="let preserve of preserveList">
    {{preserve.name}}<br>
    Data Produkcji: {{preserve.dateOfProduction.toLocaleDateString()}}<br>
    Data ważności: {{preserve.expirationDate.toLocaleDateString()}}<br>
    {{preserve.description}}<br>
  </p>
</div>
