<div>
  <button *ngIf="!loadComponent" (click)="loadDefinePreserveComponent();">Define Preserve</button>
  <button *ngIf="loadComponent" (click)="loadDefinePreserveComponent();">Hide</button>
  <div *ngIf="loadComponent">
    <app-define-preserve [list]="preserveList"></app-define-preserve>
  </div>
</div>
<div *ngFor="let preserve of preserveList" [appHighlight]="color">
  <hr>
  <p>
    {{preserve.name}}<br>
    Data Produkcji: {{preserve.dateOfProduction | date: 'mediumDate'}}<br>
    Data ważności: {{preserve.expirationDate | date: 'mediumDate'}}<br>
    {{preserve.description}}<br>
  </p>
  <hr>
</div>
