<div *ngIf="weatherNow">
  <div>
    {{ currentTime | date: "HH:mm - EE MMM"}}
  </div>
  <div>
    {{ location.name }}, {{location.country}}
  </div>
  <div>
    <h3>Temperature: {{weatherNow.main.temp | number: '1.0-0'}} °C</h3>
  </div>
  <div>
    <div>
      Feels like {{weatherNow.main.feels_like | number: '1.0-0'}} °C.
      {{weatherNow.weather[0].main}}.
      {{weatherNow.weather[0].description | titlecase}}.
    </div>
    <div>
      Humidity: {{weatherNow.main.humidity}}%
    </div>
    <div class="timeline">
      <h1>3-hour Forecast</h1>
      <div *ngFor="let item of timeline">
        <div>{{item.time | date: 'HH:mm'}}</div>
        <div>{{item.temp | number: '1.0-0'}} °C</div>
      </div>
    </div>
  </div>
</div>

