<div *ngIf="WeatherNow">
  <div>
    {{ CurrentTime | date: "HH:mm - EE MMM"}}
  </div>
  <div>
    {{ Location.name }}, {{Location.country}}
  </div>
  <div *ngIf="!changeTemp">
    <h3>Temperature: {{WeatherNow.main.temp | number: '1.0-0'}} °C</h3>
  </div>
  <div *ngIf="changeTemp">
    <h3>Temperature: {{WeatherNow.main.temp | fahrenheit}} °F</h3>
  </div>
  <div>
    <div *ngIf="!changeTemp">
      Feels like {{WeatherNow.main.feels_like | number: '1.0-0'}} °C.
      {{WeatherNow.weather[0].main}}.
      {{WeatherNow.weather[0].description | titlecase}}.
    </div>
    <div *ngIf="changeTemp">
      Feels like {{WeatherNow.main.feels_like | fahrenheit}} °F.
      {{WeatherNow.weather[0].main}}.
      {{WeatherNow.weather[0].description | titlecase}}.
    </div>
    <div>
      Humidity: {{WeatherNow.main.humidity}}%
    </div>
    <div class="timeline">
      <h1>3-hour Forecast</h1>
      <div *ngFor="let item of Timeline">
        <div>{{item.time | date: 'HH:mm'}}</div>
        <div>{{item.temp | number: '1.0-0'}} °C</div>
      </div>
    </div>
  </div>
</div>

