<nav>
    <ul class="navbar">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="/calendar">Calendar</a>
        </li>
        <li>
          <a href="/gardenpatches">Garden Patches</a>
      </li>
      <li>
        <a href="/harvest">Yields</a>
    </li>
    <li>
        <a href="/crops">Crops</a>
    </li>
    <li>
        <a href="/plant">Plants</a>
    </li>
        <li *ngIf="this.LoggedIn()">
          <a href="/preserve">Preserves</a>
        </li>
        <li *ngIf="!this.LoggedIn()">
            <a href="/login">Login</a>
        </li>
        <li *ngIf="!this.LoggedIn()">
            <a href="/register">Register</a>
        </li>
        <li *ngIf="this.LoggedIn()">
            <a href="/account">Account</a>
        </li>
        <li *ngIf="this.LoggedIn()">
            <button (click)="this.Logout()">Logout</button>
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>
