<div>
  <p>Define your preserve</p>
  <form [formGroup]="formModel" (ngSubmit)="definePreserve(formModel)">
    <label>Name: </label>
    <input placeholder="Your's preserve name" type="text" formControlName="name"/><br>
    <label>Description:</label><br>
    <textarea placeholder="Describe your preserve" rows="5" cols="50" formControlName="description"></textarea><br>
    <label>Date of production: </label>
    <input size="2" type="text" placeholder="dd" formControlName="productionDay"/>
    <input size="2" type="text" placeholder="mm" formControlName="productionMonth"/>
    <input size="4" type="text" placeholder="yyyy" formControlName="productionYear"/><br>
    <label>Expiration date: </label>
    <input size="2" type="text" placeholder="dd" formControlName="expirationDay"/>
    <input size="2" type="text" placeholder="mm" formControlName="expirationMonth"/>
    <input size="4" type="text" placeholder="yyyy" formControlName="expirationYear"/><br><br>
    <button type="submit">Submit</button>
  </form>
</div>
