<div *ngFor="let plant of plants" >
    <hr>
        <div>
            <img [src]="plant.icon" height="50">
            {{plant.name}}
            Sowing season: {{dateWithoutYear(plant.sowingSeason.start)}}-{{dateWithoutYear(plant.sowingSeason.end)}}
            Expected yield: {{plant.expectedYieldInkg}} kilograms
            <b *ngIf="isPlant(plant); else bushOrTree"> 
                in {{dateSubtraction(plant, true)}} to {{dateSubtraction(plant, false)}} days
            </b>
            <ng-template #bushOrTree>
                <b>
                    between {{dateWithoutYear(plant.whenYields(plant.sowingSeason.start).start)}} and {{dateWithoutYear(plant.whenYields(plant.sowingSeason.start).end)}}
                </b>
            </ng-template>
        </div>
    <hr>
</div>
<app-define-plant [list]="plants"></app-define-plant>
