<div class="container">
    <h1>User Registration</h1>

    <form (ngSubmit)="this.onSubmit()">

        <div class="form-group">

            <label for="nickname">Nickname</label><br>

            <input type="text" name="nickname" [(ngModel)]="Nickname" ng-model-options="{ getterSetter: true }" >

        </div>

        <pre></pre>

        <div class="form-group">

            <label for="email">Email</label><br>

            <input type="text" name="email" class="form-control" [(ngModel)]="Email" ng-model-options="{ getterSetter: true }" >
            <div class="error" *ngIf="!this.IsEmailValid">Email is not valid</div>
        </div>

        <pre></pre>

        <div class="form-group">

            <label for="password">Password</label><br>

            <input type="text" name="password" [(ngModel)]="Password" ng-model-options="{ getterSetter: true }">

        </div>

        <pre></pre>

        <button class="btn btn-primary" type="submit">Submit</button>

    </form>
</div>
